<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlumnoCreateDlg" widgetVar="AlumnoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAlumnoTitle}">
            <h:form id="AlumnoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{alumnoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_idAlumno}" for="idAlumno" />
                        <p:inputText id="idAlumno" value="#{alumnoController.selected.idAlumno}" title="#{bundle.CreateAlumnoTitle_idAlumno}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_idAlumno}"/>
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_nombresalum}" for="nombresalum" />
                        <p:inputText id="nombresalum" value="#{alumnoController.selected.nombresalum}" title="#{bundle.CreateAlumnoTitle_nombresalum}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_nombresalum}"/>
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_apellidosalum}" for="apellidosalum" />
                        <p:inputText id="apellidosalum" value="#{alumnoController.selected.apellidosalum}" title="#{bundle.CreateAlumnoTitle_apellidosalum}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_apellidosalum}"/>
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_edadalum}" for="edadalum" />
                        <p:inputText id="edadalum" value="#{alumnoController.selected.edadalum}" title="#{bundle.CreateAlumnoTitle_edadalum}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_edadalum}"/>
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_fechanacimiento}" for="fechanacimiento" />
                        <p:calendar id="fechanacimiento" pattern="MM/dd/yyyy" value="#{alumnoController.selected.fechanacimiento}" title="#{bundle.EditAlumnoTitle_fechanacimiento}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_fechanacimiento}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_curso}" for="curso" />
                        <p:inputText id="curso" value="#{alumnoController.selected.curso}" title="#{bundle.CreateAlumnoTitle_curso}" />
                        <p:outputLabel value="#{bundle.CreateAlumnoLabel_paralelo}" for="paralelo" />
                        <p:inputText id="paralelo" value="#{alumnoController.selected.paralelo}" title="#{bundle.CreateAlumnoTitle_paralelo}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{alumnoController.create}" value="#{bundle.Save}" update="display,:AlumnoListForm:datalist,:growl" oncomplete="handleSubmit(args,'AlumnoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AlumnoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
