<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlumnoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AlumnoListForm">
                <p:panel header="#{bundle.ListAlumnoTitle}">
                    <p:dataTable id="datalist" value="#{alumnoController.items}" var="item"
                                 selectionMode="single" selection="#{alumnoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idAlumno}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_idAlumno}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAlumno}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_nombresalum}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombresalum}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_apellidosalum}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidosalum}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_edadalum}"/>
                            </f:facet>
                            <h:outputText value="#{item.edadalum}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_fechanacimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechanacimiento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_curso}"/>
                            </f:facet>
                            <h:outputText value="#{item.curso}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_paralelo}"/>
                            </f:facet>
                            <h:outputText value="#{item.paralelo}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{alumnoController.prepareCreate}" update=":AlumnoCreateForm" oncomplete="PF('AlumnoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AlumnoViewForm" oncomplete="PF('AlumnoViewDialog').show()" disabled="#{empty alumnoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AlumnoEditForm" oncomplete="PF('AlumnoEditDialog').show()" disabled="#{empty alumnoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{alumnoController.destroy}" update=":growl,datalist" disabled="#{empty alumnoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
