<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlumnoViewDlg" widgetVar="AlumnoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAlumnoTitle}">
            <h:form id="AlumnoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{alumnoController.selected != null}">
                        <h:outputText value="#{bundle.ViewAlumnoLabel_idAlumno}"/>
                        <h:outputText value="#{alumnoController.selected.idAlumno}" title="#{bundle.ViewAlumnoTitle_idAlumno}"/>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_nombresalum}"/>
                        <h:outputText value="#{alumnoController.selected.nombresalum}" title="#{bundle.ViewAlumnoTitle_nombresalum}"/>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_apellidosalum}"/>
                        <h:outputText value="#{alumnoController.selected.apellidosalum}" title="#{bundle.ViewAlumnoTitle_apellidosalum}"/>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_edadalum}"/>
                        <h:outputText value="#{alumnoController.selected.edadalum}" title="#{bundle.ViewAlumnoTitle_edadalum}"/>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_fechanacimiento}"/>
                        <h:outputText value="#{alumnoController.selected.fechanacimiento}" title="#{bundle.ViewAlumnoTitle_fechanacimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_curso}"/>
                        <h:outputText value="#{alumnoController.selected.curso}" title="#{bundle.ViewAlumnoTitle_curso}"/>
                        <h:outputText value="#{bundle.ViewAlumnoLabel_paralelo}"/>
                        <h:outputText value="#{alumnoController.selected.paralelo}" title="#{bundle.ViewAlumnoTitle_paralelo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AlumnoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
