<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepresentanteCreateDlg" widgetVar="RepresentanteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRepresentanteTitle}">
            <h:form id="RepresentanteCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{representanteController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_idRepresentante}" for="idRepresentante" />
                        <p:inputText id="idRepresentante" value="#{representanteController.selected.idRepresentante}" title="#{bundle.CreateRepresentanteTitle_idRepresentante}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_idRepresentante}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_nombresRepres}" for="nombresRepres" />
                        <p:inputText id="nombresRepres" value="#{representanteController.selected.nombresRepres}" title="#{bundle.CreateRepresentanteTitle_nombresRepres}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_nombresRepres}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_apellidosRepres}" for="apellidosRepres" />
                        <p:inputText id="apellidosRepres" value="#{representanteController.selected.apellidosRepres}" title="#{bundle.CreateRepresentanteTitle_apellidosRepres}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_apellidosRepres}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_edadRepres}" for="edadRepres" />
                        <p:inputText id="edadRepres" value="#{representanteController.selected.edadRepres}" title="#{bundle.CreateRepresentanteTitle_edadRepres}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_edadRepres}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_parentesco}" for="parentesco" />
                        <p:inputText id="parentesco" value="#{representanteController.selected.parentesco}" title="#{bundle.CreateRepresentanteTitle_parentesco}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_parentesco}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{representanteController.selected.telefono}" title="#{bundle.CreateRepresentanteTitle_telefono}" required="true" requiredMessage="#{bundle.CreateRepresentanteRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.CreateRepresentanteLabel_idAlumno}" for="idAlumno" />
                        <p:selectOneMenu id="idAlumno" value="#{representanteController.selected.idAlumno}" >
                            <f:selectItems value="#{alumnoController.itemsAvailableSelectOne}"
                                           var="idAlumnoItem"
                                           itemValue="#{idAlumnoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{representanteController.create}" value="#{bundle.Save}" update="display,:RepresentanteListForm:datalist,:growl" oncomplete="handleSubmit(args,'RepresentanteCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RepresentanteCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
