<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepresentanteEditDlg" widgetVar="RepresentanteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRepresentanteTitle}">
            <h:form id="RepresentanteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{representanteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_idRepresentante}" for="idRepresentante" />
                        <p:inputText id="idRepresentante" value="#{representanteController.selected.idRepresentante}" title="#{bundle.EditRepresentanteTitle_idRepresentante}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_idRepresentante}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_nombresRepres}" for="nombresRepres" />
                        <p:inputText id="nombresRepres" value="#{representanteController.selected.nombresRepres}" title="#{bundle.EditRepresentanteTitle_nombresRepres}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_nombresRepres}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_apellidosRepres}" for="apellidosRepres" />
                        <p:inputText id="apellidosRepres" value="#{representanteController.selected.apellidosRepres}" title="#{bundle.EditRepresentanteTitle_apellidosRepres}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_apellidosRepres}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_edadRepres}" for="edadRepres" />
                        <p:inputText id="edadRepres" value="#{representanteController.selected.edadRepres}" title="#{bundle.EditRepresentanteTitle_edadRepres}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_edadRepres}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_parentesco}" for="parentesco" />
                        <p:inputText id="parentesco" value="#{representanteController.selected.parentesco}" title="#{bundle.EditRepresentanteTitle_parentesco}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_parentesco}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{representanteController.selected.telefono}" title="#{bundle.EditRepresentanteTitle_telefono}" required="true" requiredMessage="#{bundle.EditRepresentanteRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.EditRepresentanteLabel_idAlumno}" for="idAlumno" />
                        <p:selectOneMenu id="idAlumno" value="#{representanteController.selected.idAlumno}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{alumnoController.itemsAvailableSelectOne}"
                                           var="idAlumnoItem"
                                           itemValue="#{idAlumnoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{representanteController.update}" value="#{bundle.Save}" update="display,:RepresentanteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RepresentanteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RepresentanteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
