<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRepresentanteTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RepresentanteListForm">
                <p:panel header="#{bundle.ListRepresentanteTitle}">
                    <p:dataTable id="datalist" value="#{representanteController.items}" var="item"
                                 selectionMode="single" selection="#{representanteController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idRepresentante}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_idRepresentante}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRepresentante}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_nombresRepres}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombresRepres}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_apellidosRepres}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidosRepres}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_edadRepres}"/>
                            </f:facet>
                            <h:outputText value="#{item.edadRepres}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_parentesco}"/>
                            </f:facet>
                            <h:outputText value="#{item.parentesco}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRepresentanteTitle_idAlumno}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAlumno}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{representanteController.prepareCreate}" update=":RepresentanteCreateForm" oncomplete="PF('RepresentanteCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RepresentanteViewForm" oncomplete="PF('RepresentanteViewDialog').show()" disabled="#{empty representanteController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RepresentanteEditForm" oncomplete="PF('RepresentanteEditDialog').show()" disabled="#{empty representanteController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{representanteController.destroy}" update=":growl,datalist" disabled="#{empty representanteController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
