<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RepresentanteViewDlg" widgetVar="RepresentanteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRepresentanteTitle}">
            <h:form id="RepresentanteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{representanteController.selected != null}">
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_idRepresentante}"/>
                        <h:outputText value="#{representanteController.selected.idRepresentante}" title="#{bundle.ViewRepresentanteTitle_idRepresentante}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_nombresRepres}"/>
                        <h:outputText value="#{representanteController.selected.nombresRepres}" title="#{bundle.ViewRepresentanteTitle_nombresRepres}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_apellidosRepres}"/>
                        <h:outputText value="#{representanteController.selected.apellidosRepres}" title="#{bundle.ViewRepresentanteTitle_apellidosRepres}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_edadRepres}"/>
                        <h:outputText value="#{representanteController.selected.edadRepres}" title="#{bundle.ViewRepresentanteTitle_edadRepres}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_parentesco}"/>
                        <h:outputText value="#{representanteController.selected.parentesco}" title="#{bundle.ViewRepresentanteTitle_parentesco}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_telefono}"/>
                        <h:outputText value="#{representanteController.selected.telefono}" title="#{bundle.ViewRepresentanteTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewRepresentanteLabel_idAlumno}"/>
                        <h:outputText value="#{representanteController.selected.idAlumno}" title="#{bundle.ViewRepresentanteTitle_idAlumno}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RepresentanteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
