<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>DATOS</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <center><h1>ESCUELA FISCAL MIXTA "DESTACAMENTO DE PAQUISHA"</h1></center>
        <br />
        <h:link outcome="/alumno/List" value="Show All Alumno Items"/>
        <br />
        <h:link outcome="/representante/List" value="Show All Representante Items"/>
    </h:body>
</html>

