<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>LOGIN</title>
        
    </h:head>
    <h:body>
        <center><h:graphicImage value="imagenes/destacamento.png"></h:graphicImage></center>
            <h:form>

            <center><p:outputLabel for="user">USUARIO:</p:outputLabel><br></br> </center>
            <center>  <p:inputText id="user" size="20" required="true" requiredMessage="EL CAMPO ES OBLIGATORIO"/> </center>
            <center><p:outputLabel for="password">CONTRASEÑA:</p:outputLabel><br></br> </center>
            <center> <p:password id="password" size="20" required="true" requiredMessage="EL CAMPO ES OBLIGATORIO"/> </center><br></br>


            <center><p:commandButton value="Ingresar" action="DatosEST.xhtml" />
                <p:commandButton value="Registrarse" action="registrarse.xhtml"/> </center>
            </h:form>

        
    </h:body>


</html>




