<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet</title>
    </h:head>
    <h:body>
        <h:form>
            
                <p:outputLabel for="user">Nombres:</p:outputLabel>
                    <p:inputText id="user" size="20" required="true" /> <br></br>
                <p:outputLabel for="user">Apellidos:</p:outputLabel>
                    <p:inputText id="user" size="20" required="true" /> <br></br>
                     <center<p:outputLabel for="user">Email</p:outputLabel>
                    <p:inputText id="user" size="20" required="true" /> <br></br>
                     <center<p:outputLabel for="user">Ocupación</p:outputLabel>
                    <p:inputText id="user" size="20" required="true" /> <br></br>
               
               
               
               <p:commandButton value="Registrarse" action="index.xhtml"/>
        </h:form>
      
    </h:body>
</html>

