<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <h:outputLabel>Hola, #{nombresUsuario} #{apellidosUsuario}  , te saludamos y felicitamos de parte
        de la Fundacion Kairos por tu exitoso registro!</h:outputLabel>
        <h:form>
            <br></br> <b>Ahora elija una accion:</b>
            <CENTER><B><h:commandButton value="Editar" action="guardar"/></B></CENTER><br></br>
            <CENTER><b><h:commandButton value="Consultar" action="guardar"/></B></CENTER><br></br>
            <CENTER><B><h:commandButton value="Eliminar" action="guardar"/></b></CENTER><br></br>
            <CENTER><B><h:commandButton value="Salir" action="guardar"/></B></CENTER>
            
            
        </h:form>

    </h:body>

</html>
